PORT=4002

DB_HOST=localhost
DB_PORT=5432
DB_NAME=flights_db
DB_USER=flights_svc
DB_PASSWORD=change_me

JWT_SECRET=change_me

KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC=booking-events
KAFKA_CONSUMER_GROUP=flights-read-model
